@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	margin: 0px;
	color: black;
}
h1 {
	font-family: 'Lora', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 15pt;
}
h2 {
	font-family: 'Lora', sans-serif;
	font-weight: bold;
	color: darkred;
	font-size: 15pt;
}
h3 {
	font-family: 'Lora', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 17px;
}
a {
	text-decoration: none;
}